/* ---------------------------------------------------------------------- */
/*  WEB style About me
/* ---------------------------------------------------------------------- */


body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Light.ttf);
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
/** NAV BAR**/

.navbar {
    position: fixed;
    background-color: #2C90F1;
    top: 0px;
    width: 100%;
}

.navbar .nav-log {
    float: left;
}

.navbar .navbar-list {
    list-style-type: none;
    margin: 0px;
    float: right;
    font-size: 0px;
}

.navbar .navbar-list .navbar-item {
    display: inline-block;
    font-size: 16px;
}

.navbar .navbar-list .navbar-item a {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    color: white;
}

.navbar .navbar-list .navbar-item a:hover{
    color: white;
    background-color: #4C6DEF;
}

/* ---------------------------------------------------------------------- */
/*  HEADER About Me
/* ---------------------------------------------------------------------- */

.header{

}

.title-user{
    position: absolute;
    left:40vw;
    top:25%;
    border-radius: 20%;
}

.title{
    position: absolute;
    left: 0;
    top:65%;
    width: 100%;
    color: white;
    font-family: Roboto;
    text-align: center;
    font-size: 50px;
}

.title-img{
    left: 0;
    width: 100%;
    height: 100vh;
}

.title-cite{
    position: absolute;
    left: 0;
    top:60%;
    width: 100%;
    color: white;
    font-family: Roboto;
    text-align: center;
    font-size: 18px;
}



/* ---------------------------------------------------------------------- */
/*   SECTION 1 BODY About Me
/* ---------------------------------------------------------------------- */

.acerca-de{
    margin: 20px 20px 20px 20px;
}

.info{
    margin: 20px 20px 20px 20px;
}
/* ---------------------------------------------------------------------- */
/*  Footer About Me
/* ---------------------------------------------------------------------- */

.footer{
    background-color: #2C90F1;
    color: white;
    height: 50px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}